<section class="section">
    <div class="clearfix">
        <center>
            <h1 class="title"> ${movieData.name}</h1>
        </center>
        <p class="information">
            Directed by: ${movieData.director} <br> Movie length: ${movieData.movie_length}
        </p>

        <figure class="image">
            <img src="${movieData.picture}" />
        </figure>
    </div>
    <div class="clearfix">
        <ul style="margin-top: 16px;">
            ${reviewData.map(review => `
            <li>
                <span class="rating" style="display: inline-block; width: 100%;">${review.rating}Stars</span>
                <p>${review.content}</p>
            </li>
            `).join('')}
        </ul>
    </div>
</section>