<section class="moviePage">
    <div class="movieTitle2">
        <center>
            <h1 class="title2"> ${movieData.name}</h1>
        </center>
        <p class="information">
            Directed by: ${movieData.director} <br> Movie length: ${movieData.movie_length}
        </p>
    </div>

    <div>
        <figure class="movieImg">
            <img src="${movieData.picture}" />
        </figure>
    </div>

    <div class="movieRatings">
        <ul class="reviewList" style="margin-top: 16px;">
            ${reviewData.map(review => `

            <div class="ratingName">
                <li>${review.first_name} ${review.last_name}</li>
            </div>

            <div class="ratingContent">
                <li>${review.content}</li>
                <li><span class="rating" style="display: inline-block; width: 100%;">${review.rating}Stars</span></li>
            </div>


            `).join('')}
        </ul>
    </div>

</section>

<section>
    <div class="reviewPage">
        <h2>Write Your Review</h2>
        <form action='#' method="POST">


            <input type="text" name="first_name" placeholder="First Name...">
            <input type="text" name="last_name" placeholder="Last Name...">
            <input type="email" name="email" placeholder="Email...">
            <textarea name="comment" placeholder="Enter Your Commit"></textarea>
            <button class="btn-area" type="submit">Submit Review</button>



        </form>
    </div>
</section>