<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="reviewPage">
            <h2>Write Your Review</h2>
            <form action="/users/reviewsC" method="POST">
                <input type="text" name="first_name" placeholder="First Name...">
                <input type="text" name="last_name" placeholder="Last Name...">
                <input type="email" name="email" placeholder="Email...">
                <textarea name="comment" placeholder="Enter Your Commit"></textarea>
                <button type="submit">Submit Review</button>
            </form>
        </div>
    </section>
</body>

</html>